<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andannn.player.platform_player">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.andannn.player.ui.PlayerActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Android" />

    </application>
</manifest>